# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.env.test
.env.production
.env.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing and Linters
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
