# Binaries
backroom-go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Local Env
.env

# Data (Generated)
data/
tmp/

# OS Specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
